/*CSS Variables (Global Settings)*/
:root {
  --primary-color: #5f2c82;
  --text-color: #191919;
  --bg-light: rgba(42, 157, 143, 0.1);
  --header-bg: rgba(0, 0, 0, 0.1);
  --shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  --footer-bg: var(--header-bg);
  --footer-link-hover: rgba(0, 0, 0, 0.8);
  --transition-fast: 0.3s ease;
  --transition-medium: 0.4s;
  --background: rgba(186, 185, 248, 0.663);
  --heading-color: #333;
  --border-color: #ccc;

}

/* Dark Mode Variables */
:root[data-theme="dark"] {
  --background: #13142f;
  --text-color: #ccc;
  --heading-color: #bebbd4;
  --primary-color: #8AAAE5;
  --secondary-color: #7090C4;
  --accent-color: #5578B3;
  --bg-light: rgba(163, 177, 192, 0.1);
  --header-bg: rgba(34, 57, 88, 0.1);
  --shadow: 0px 4px 10px rgba(163, 177, 192, 0.3);
  --border-color: #2B3D55;
  --cursor-bg: rgba(163, 177, 192, 0.4);
  --hamburger-bg: #8AAAE5;
  --footer-text: #BBC6D4;
  --button-shadow: 0px 4px 15px rgba(163, 177, 192, 0.4)
>>>>>>> d4be172 (update my dark mode styling)
}

/* Reset & Base Styles*/
@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slide-in-left 0.8s forwards;
}

.slide-in-right {
  animation: slide-in-right 0.8s forwards;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  overflow-x: hidden;
  background: var(--background);
} */

body {
  margin: 0;
  cursor: none;
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--text-color);
  background: var(--background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

.custom-cursor {
  width: 50px;
  height: 50px;
  z-index: 10000;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.4);
  transform: translate(-50%, -50%);
  transition: transform 0.1s linear;
}

:root[data-theme="dark"] .custom-cursor {
  background: var(--cursor-bg);
}

/* Header & Navigation*/
header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  position: relative;
  padding: 15px 20px;
  align-items: center;
  box-shadow: var(--shadow);
  background: var(--header-bg);
  justify-content: space-between;
}

.home-link h3 {
  font-size: 1.8rem;
  font-weight: bold;
  transition: transform 0.2s ease;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.home-link h3:hover {
  transform: scale(1.1);
}

/*Theme Toggle Button*/
.header-center {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

#theme-toggle {
  width: 40px;
  border: none;
  height: 40px;
  z-index: 1000;
  display: flex;
  cursor: pointer;
  background: none;
  align-items: center;
  justify-content: center;
}

#theme-toggle svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  transition: transform 0.3s;
}

:root[data-theme="dark"] #sun-icon {
  fill: gold;
}

#theme-toggle:hover {
  transform: scale(1.1);
}

/*Mobile Navigation*/
#hamburgerMenu {
  padding: 8px;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border: 2px dotted #fff;
  background-color: transparent;
}

:root[data-theme="dark"] #hamburgerMenu {
  border-color: var(--hamburger-bg);
}

.menu-toggle {
  display: none;
}

.hamburger {
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.hamburger span,
.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  background: #000;
  transition: all var(--transition-medium);
}

:root[data-theme="dark"] .hamburger span,
:root[data-theme="dark"] .hamburger::before,
:root[data-theme="dark"] .hamburger::after {
  background: var(--hamburger-bg);
}

.hamburger::before {
  top: 0;
}

.hamburger span {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger::after {
  bottom: 0;
}

.menu-toggle:checked~.hamburger span {
  opacity: 0;
}

.menu-toggle:checked~.hamburger::before {
  transform: translateY(9px) rotate(45deg);
}

.menu-toggle:checked~.hamburger::after {
  transform: translateY(-9px) rotate(-45deg);
}

/* Mobile Menu */
.mobile-menu {
  width: 100%;
  z-index: 900;
  max-height: 0;
  margin-top: 5px;
  background: none;
  overflow: hidden;
  transition: max-height var(--transition-fast);
}

.mobile-menu ul {
  padding: 15px 0;
  overflow-y: auto;
  list-style: none;
  text-align: center;
  max-height: calc(100vh - 100px);
}

.mobile-menu li {
  margin: 10px 0;
}

.mobile-menu a {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--primary-color);
}

/* Desktop Navigation */
.nav-bar {
  display: none;
}

.nav-links {
  gap: 20px;
  display: flex;
  list-style: none;
}

.nav-links a {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  transition: color var(--transition-fast);
}

.nav-links a:hover {
  color: var(--primary-color);
}

/*Navigation Links in Dark Mode*/
:root[data-theme="dark"] .nav-links a {
  color: var(--text-color);
}

section {
  padding: 20px;
  border-bottom: 1px solid var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #555;
  }
}

/*Home Section (Mobile-First)*/
#home {
  display: flex;
  margin-top: 50px;
  min-height: 100vh;
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-container {
  gap: 20px;
  width: 100%;
  display: flex;
  max-width: 500px;
  align-items: center;
  flex-direction: column;
}

.home.left {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

.home-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.home.right {
  width: 100%;
}

.home.right h1 {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
}

:root[data-theme="dark"] .home.right h1 {
  color: var(--heading-color);
}

.tagline {
  font-size: 1rem;
  margin-top: 15px;
  line-height: 1.5;
  padding-bottom: 20px;
  color: var(--text-color);
}

/* CTA Buttons */
.cta-buttons {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

/* Resume preview styling */
.resume-container {
  position: relative;
  display: inline-block;
}

.resume-preview {
  position: absolute;
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  pointer-events: none;
  top: 100%;
  left: 0;
}

.resume-container:hover .resume-preview {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.resume-preview img {
  width: 100%;
  height: auto;
  display: block;
}

.btn,
.btn-alt {
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 30px;
  display: inline-block;
  text-decoration: none;
  transition: transform var(--transition-fast), background-color var(--transition-fast);
}

.btn {
  color: #fff;
  border: 2px solid transparent;
  background-color: var(--primary-color);
}

.btn-alt {
  color: #fff;
  border: 2px solid transparent;
  background: var(--primary-color);
}

.btn:hover,
.btn-alt:hover {
  transform: scale(1.05);
  background: transparent;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: 0px 4px 15px rgba(73, 160, 157, 0.4);
}

.btn span {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
}

/* Responsive (Tablet)*/
@media (min-width: 768px) {
  .header-center {
    margin: 0 auto;
    position: static;
  }

  header {
    justify-content: space-between;
  }

  #home,
  #about {
    text-align: left;
    min-height: auto;

  }

  .home-container {
    max-width: 100%;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  .home.left {
    flex: 1;
  }

  .home-image {
    width: 350px;
    height: 350px;
  }

  .home.right {
    flex: 1;
    padding-left: 0;

  }

  .home.right h1 {
    font-size: 3rem;
  }

  .cta-buttons {
    justify-content: flex-start;
  }

  #hamburgerMenu,
  .hamburger,
  .mobile-menu {
    display: none;
  }

  .nav-bar {
    display: block;
  }
}

/* Responsive (Large Screens)*/
@media (min-width: 1024px) {
  #theme-toggle {
    width: 45px;
    height: 45px;
  }
}

/* Social Section*/
.social-container {
  padding: 4rem;
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  text-align: start;
  justify-content: flex-start;
}

.social-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.social-links {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.social-links a {
  display: inline-block;
  text-decoration: none;
  transition: transform var(--transition-fast);
}

.social-links a:hover {
  transform: translateY(-3px);
}

.social-links svg {
  width: 30px;
  height: 30px;
  color: var(--primary-color);
  transition: color 0.3ms ease;
}

.social-links a:hover svg {
  color: #2b6cb0;
}

.social-links a:hover .fa-github {
  color: black;
}

.social-links a:hover .fa-linkedin {
  color: #0077b5;
}

.social-links a:hover .fa-instagram {
  color: #e4405f;
}

.social-links a:hover .fa-twitter {
  color: var(--accent-color);
}

@media (max-width: 480px) {
  .social-container {
    padding: 0;
  }

  .social-links {
    gap: 1rem;
  }

  .social-links svg {
    width: 25px;
    height: 25px;
  }
}

/*About Section*/
.about-container {
  gap: 30px;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.aboutMe {
  width: 120px;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  font-size: medium;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: var(--primary-color);
}

:root[data-theme="dark"] .aboutMe {
  background-color: rgba(40, 70, 130, 0.53);
}

.myName {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 10px;
  color: var(--text-color);
}

.about-left,
.about-right {
  flex: 1;
  gap: 20px;
}

.about-right img {
  height: auto;
  display: block;
  max-width: 100%;
  margin: 20px auto 0;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-left,
  .about-right {
    width: 100%;
  }

  .about-right {
    margin-top: 20px;
  }
}

/*Tech-Stack Section*/
.tech-stack {
  margin: 40px 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tech-stack h3 {
  font-size: 2em;
  margin-right: 20px;
  margin-bottom: 20px;
  color: var(--heading-color);
}

.tech-icons {
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-icon {
  text-align: center;
  transition: transform var(--transition-fast), color var(--transition-fast);
}

.tech-icon i {
  font-size: 3em;
  transition: transform var(--transition-fast), color var(--transition-fast);
}

.tech-icon span {
  font-size: 1em;
  display: block;
  margin-top: 10px;
  color: var(--text-color);
}

/*Projects Section*/
.projects-section {
  padding: 40px 20px;
  text-align: center;
  color: var(--text-color);
}

.section-title,
.section-subtitle {
  margin-bottom: 10px;
}

.section-title {
  font-size: 2rem;
  color: var(--heading-color);
}

.section-subtitle {
  opacity: 0.9;
  font-size: 1rem;
  max-width: 600px;
  line-height: 1.5;
  margin: 0 auto 30px;
  color: var(--text-color);
}

.projects-grid {
  /* gap: 20px; */
  /* display: grid; */
  margin: 0 auto;
  max-width: 900px;
  /* grid-template-columns: 1fr; */
}

.project-card {
  background-color: var(--bg-light);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  transition: transform var(--transition-fast), box-shadow var(--transition-fast);
  border: 1px solid var(--border-color);
  margin-bottom: 2rem;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.project-title {
  color: var(--primary-color);
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  transition: color var(--transition-fast);
}

.project-link:hover .project-title {
  color: var(--text-color);
}

.project-description {
  margin-bottom: 1rem;
  color: var(--text-color);
  line-height: 1.6;
}

.feature-list {
  margin-bottom: 1rem;
  padding-left: 1.2rem;
  list-style-type: disc;
  color: var(--text-color);
}

.tech-stack {
  font-style: italic;
  color: var(--text-color);
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-card:nth-child(odd) {
    animation: slide-in-right 0.6s ease forwards;
  }

  .project-card:nth-child(even) {
    animation: slide-in-left 0.6s ease forwards;
  }
}

/* Contact Section*/
#contact {
  padding: 30px 20px;
  text-align: center;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
}

#contact h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: var(--heading-color);
}

#contact p {
  font-size: 1.1em;
  margin-bottom: 40px;
  color: var(--text-color);
}

.contact-form {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  font-size: 1em;
  border-radius: 5px;
  color: var(--text-color);
  background: var(--background);
  border: 1px solid var(--border-color);
}

.contact-form textarea {
  resize: none;
  min-height: 120px;
}

.contact-form button {
  border: none;
  padding: 12px;
  color: #fff;
  cursor: pointer;
  font-size: 1.1em;
  border-radius: 5px;
  box-shadow: var(--button-shadow);
  background-color: var(--primary-color);
  transition: background-color var(--transition-fast);
}

:root[data-theme="dark"] .contact-form button {
  background-color: var(--secondary-color);
}

:root[data-theme="dark"] .contact-form button:hover {
  background-color: var(--primary-color);
}

/*-Footer*/
footer {
  margin: 0;
  width: 100%;
  display: flex;
  padding: 20px 0;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: var(--footer-text);
  background-color: var(--header-bg);
}

.footer-container {
  gap: 10px;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
}

footer p {
  font-size: 0.9rem;
  color: var(--text-color);
}

footer .social-links {
  gap: 15px;
  padding: 0;
  display: flex;
  list-style: none;
}

footer .social-links a {
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
  transition: color var(--transition-fast);
}

footer .social-links a:hover {
  color: var(--footer-link-hover);
}